@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Sportex</h1>
    <p class="lead">Esta pantalla puede ser utilizada para mostrar estadísticas generales de uso de la aplicación.</p>
    @*<p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Estadística 1</h2>
        <p>
            Texto o gráfico
        </p>
        @*<p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>*@
    </div>
    <div class="col-md-4">
        <h2>Estadística 2</h2>
        <p>Texto o gráfico</p>
        @*<p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>*@
    </div>
    <div class="col-md-4">
        <h2>Estadística 3</h2>
        <p>Texto o gráfico</p>
        @*<p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>*@
    </div>
</div>