@model sportex.backoffice.Models.AccountDTO

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Eliminar cuenta</h2>

<h3>¿Está seguro que desea eliminar esta cuenta?</h3>
<div>
    <h4>@*AccountDTO*@</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            ID
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ID)
        </dd>
        <dt>
            Nombre de cuenta
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Username)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        <input type="submit" value="Eliminar" class="btn btn-default" /> |
        @Html.ActionLink("Volver a listado de cuentas", "Index")
    </div>
    }
</div>
